@charset "UTF-8";

/* formatação do rodapé do fale conosco*/

.fale-conosco {
    bottom: -10px;
}

/*formatação do contato*/

.responsavel p {
    float: right;
    position: relative;
    top: -10px;
    left: -800px;
    width: 500px;
    font-size: 15pt;
}

.telefone p {
    float: right;
    position: relative;
    top: -5px;
    left: -300px;
    width: 500px;
    font-size: 15pt;
}

.email p {
    float: right;
    position: relative;
    top: -60px;
    left: -800px;
    width: 500px;
    font-size: 15pt;
}

.facebook p {
    float: right;
    position: relative;
    top: -5px;
    left: -300px;
    width: 500px;
    font-size: 15pt;
}

.whatsapp p {
    float: right;
    position: relative;
    top: -60px;
    left: -800px;
    width: 500px;
    font-size: 15pt;
}