@charset "UTF-8";

/*fonte importada*/

@import url('https://fonts.googleapis.com/css2?family=IM+Fell+DW+Pica+SC&display=swap');

/*configurações de interface*/ 

body {
    background-color: #eaeedb;
    overflow-x: hidden;
}

#interface {
    width: 1325px;
    height: 200px;
}

/*formatação do menu*/
#menu {
    display: block;
}

ul {
    top: 50px;
    left: 800px;
    position: absolute;
}

li {
    display: inline-block;
    padding: 13px;
    margin: 2px;
    font-family: 'IM Fell DW Pica SC';
    font-size: 20px;
    transition: 0.2s;
}

a {
    text-decoration: none;
    color: black;
}

li:hover {
    background-color: #CCD3CA;
    border-radius: 20px;
    color: rgb(246, 246, 246);
}

/*Formatção do cabeçalho*/

#cabecalho {
    background-color: #D6DAC8;
    margin: -10px;
    padding: 50px;
}

.logo {
    display: block;
    margin: -50px;
}

#search-box {
    position: absolute;
    top: 13%;
    left: 35%;
    transform: translate(-22%, -45%);
    background-color: #FFFFFF;
    height: 40px;
    padding: 10px;
    border-radius: 40px;
    /* serve para aredondar as bordas*/
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search {
    border: none;
    outline: none;
    padding: 0;
    font-size: 16px;
    line-height: 40px;
    width: 400px;
}

/*home*/ 

/*formatação do banner do site*/

.banner {
    width: 1450px;
    margin: -10px;
    display: block;
    position: relative;
    top: 12px;
}

/*hierarquia de títulos*/

h2 {
    font-family: 'IM Fell DW Pica SC';
    font-size: 30pt;
}

h3 {
    font-family: 'IM Fell DW Pica SC';
    font-size: 20pt;

}

/*formatação do tamanho das imagens*/

img#livro {
    height: 300px;
    width: 190px;
    padding: 50px;
}

/*formatação das estrelas de avaliação*/ 

.avaliação {
    position: relative;
    width: 80px;
}

.avaliações img {
    padding: 105px;
    margin-top: -180px;
}

/*formatação do preço*/

.preço-livro p.livro1 {
    position: relative;
    top: -150px;
    left: 65px;
}

.preço-livro p.livro2 {
    position: relative;
    top: -185px;
    left: 355px;
}

.preço-livro p.livro3 {
    position: relative;
    top: -220px;
    left: 655px;
}

/*formatação do espaçamento de cada categoria*/

.mais-vendidos {
    margin-top: -150px;
}

.mangas {
    margin-top: -150px;
}

/*página de catálogo*/

/*formatação da tabela*/

#produto {
    width: 90px;
    height: 120px;
}

td, th {
    padding: 30px;
    border: 1px dashed black;
}

table {
    width: 80%;
    margin: auto;
    margin-top: 20px;
    background-color: whitesmoke;
}

p {
    text-align: justify;
    text-indent: 50px;
}

/*Formatação da página 'Sobre nós'*/

.sobrenos {
    text-align: center;
}

.paragrafo-sobrenos {
    width: 900px;
}

.paragrafo-sobrenos p {
    left: 200px;
    position: relative;
    font-size: 15pt;
}

/*formatação do rodapé*/ 

footer {
    background-color: #D6DAC8;
    display: block;
    position: absolute;
    padding: 20px;
    margin: -10px;
    bottom: -1800px;
    width: 1300px;
}

footer p {
    text-align: center;
}

/*formatação dos footers de outras páginas que não ficaram alinhados com o fim da página*/

footer.descricao8 {
    bottom: -320px;
}

footer.descricao3{
    bottom: -400px;
}

footer.descricao6 {
    bottom: -350px;
}

footer.catalogo {
    bottom: -1600px;
}